body {
  background-color: #4e5340;
  color: #E2E8DD;
  font-family: 'Bebas Neue', sans-serif;;
}

#site-header {
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 10px;
  text-align: center;
  text-shadow: 4px 4px darken(#E2E8DD, 70%);
}

#root h1, #root h2 {
  letter-spacing: 2px;
}

.sample-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.sample-card {
  border: 2px solid #B7D1DA;
  background-color: #697268;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.sample-card p {
  max-height: 150px;
  overflow: scroll;
  border: 1px solid lighten(#697268, 10%);
  padding: 8px;
}

.sample-card li {
  word-wrap: break-word;
}

.sample-card a {
  display: inline-block;
  margin: 0 3px;
  font-size: 18px;
  color: #E2E8DD;
  transition: color 0.1s ease-in;
}

.sample-card a:hover {
  color: #4e5340;
}

.sample-card h4 {
  text-shadow: 2px 2px darken(#E2E8DD, 70%);
  letter-spacing: 2px;
}

.sample-card button, #search-button {
  background-color: #95A3A4;
  color: #E2E8DD;
  cursor: pointer;
  margin-right: 9px;
  border-radius: 4px;
  transition: background-color 0.1s ease-in;
  padding: 4px 10px;
  border: 1px solid #fff;
}

.save-button {
  background-color: #E2E8DD;
  color: #95A3A4;
}


.sample-card .save-button:hover {
  background-color: darken(#95A3A4, 30%);
  color: lighten(#E2E8DD, 20%);
}

#search-button:hover, .delete-button:hover {
  background-color: #E2E8DD;
  color: darken(#95A3A4, 40%);
}

#search {
  width: 80%;
  padding: 10px;
  margin: 10px;
}

#search-button {
  padding: 10px 20px;

}

#saved-samples button {
  display: none;
}

#saved-samples .delete-button {
  display: block;
}

#search-component .delete-button {
  display: none;
}

#main-login {
  text-align: center;
  margin-top: 200px;
}

#main-login a {
  color: #E2E8DD;
  font-size: 40px;
  transition: color 0.1s ease-in;
}

#main-login a:hover {
  color: darken(#E2E8DD, 50%);
}